@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #000;
}
*{
    margin: 0px;
    padding: 0px;
}


/* for input #1a1a1a */

header{
    width: 100%;
    background-color: #000;
    position: relative;
    position: fixed;
    z-index: 2;
}
header .nav1{
    width: 94%;
    padding: 25px 3%;
    display: flex;
}
header .nav1 .logo{
    width: 180px;
}
header .nav1 ul{
    display: flex;
    list-style: none;
    margin: auto 25px;
    position: relative;
}
header .nav1 .phones1{
    display: none;
    text-decoration: none;
    font-size: 22px;
    color: #000;
    padding: 5px 7px;
    background-color: #fff;
    border-radius: 50%;
}
header .nav1 ul li{
    position: relative;
    margin: 0px 14px;
}
header .nav1 ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
header .nav1 span{
    margin: auto 0px;
    margin-left: auto;
    margin-right: 55px;
    position: relative;
}
header .nav1 span .phones{
    display: none;
    text-decoration: none;
    font-size: 22px;
    color: #000;
    padding: 5px 7px;
    background-color: #fff;
    border-radius: 50%;
}
header .nav1 .number{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}
header .nav1 a::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 50%;
    background-color: #ee0000;
    bottom: -3px;
    transition: 200ms;
}
header .nav1 a:hover::before{
    width: 100%;
    left: 0px;
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    margin-top: 80px;
}

.massage{
    position: fixed;
    right: 40px;
    bottom: 0px;
    background-color: #ee0000;
    padding: 10px 15px;
    padding-right: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 30px;
    overflow: hidden;
    transition: 500ms;
}
.massage::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    right: -25px;
    top: -25px;
}

.massage i{
    font-size: 20px;
    position: relative;
    z-index: 5;
}

.massage .fixed{
    text-decoration: none;
    color: #fff;
    position: relative;
    z-index: 6;
}

/* ============================== MAIN ================================================ */
main{
    width: 94%;
    padding: 25px 3%;
}

main .search{
    display: flex;
}
main .search h3{
    font-size: 22px;
    font-weight: 400;
    margin: auto 0px;
}
main .search input{ 
    width: 500px;
    background-color: #1a1a1a;
    border-radius: 6px;
    padding: 10px 20px;
    margin-left: 40px;
    border: none;
    font-size: 16px;
    color: #fff;
    outline: none;
}
/* ::-webkit-input-placeholder{
    color: #fff;
} */
.data .dataOfPost{
    margin: 35px 0px 45px 30px;
    position: relative;
}
.data .dataOfPost span{
    font-size: 22px;
    font-weight: 300;
    position: relative;
}
.data .dataOfPost span::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ee0000;
    bottom: -10px;
}
.data .timetable{
    display: flex;
    width: 98%;
    border-top: 1px solid #191919;
    border-bottom: 1px solid #191919;
    padding: 20px 1%;
    transition: 200ms;
}
.data .timetable:hover{
    border-top: 1px solid #ee0000;
    border-bottom: 1px solid #ee0000;
    
}
.data .timetable button{
    background-color: #000;
    color: #fff;
    padding: 20px 30px;
    border: 2px solid #ee0000;
    border-radius: 6px;
    transition: 300ms;
}
.data .timetable button:hover{
    background-color: #ee0000;
    cursor: pointer;
}
.data .timetable div{
    margin: auto 0px;
    width: calc(98% / 3 - 53px);
}
.data .timetable div span{
    font-size: 15px;
}
.data .timetable div p{
    padding: 10px 0px 0px 0px;
    font-size: 13px;
    line-height: 20px;
    margin-right: 20px;
    font-weight: 300;
    margin-bottom: 15px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid #ee0000;
    padding: 40px 20px;
    line-height: 22px;
}
.form input{
    width: 25%;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 20px 0px;
    margin: 10px 0px;
    border-radius: 10px;
    outline: none;
}
.form button{
    background-color: #000;
    color: #fff;
    padding: 20px 30px;
    border: 2px solid #ee0000;
    border-radius: 6px;
    transition: 300ms;
    margin-top: 30px;
}
.form button:hover{
    background-color: #ee0000;
}
.descrip{
    margin: 20px 0px;
}
.descrip h4{
    font-size: 22px;
    margin: 55px 0px 55px;
}
.descrip p{
    font-size: 15px;
    margin: 0px 0px 25px;
}
.video {
    width: 94%;
    padding: 0px 3%;
    margin: 30px 0px;
}
.video iframe{
    width: 100%;
    height: 93vh;
    border-radius: 15px;
    margin-top: 40px;
}
footer .icons{
    width: 94%;
    padding: 0px 3%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
}
footer .icons div{
    display: flex;
}
footer .icons p{
    font-size: 10px;
    color: #747474;
    font-weight: 200;
    margin: auto 0px;
}
footer .icons div a{
    text-decoration: none;
    color: #fff;
    font-size: 36px;
    margin: 5px 10px;
    transition: 300ms;
}
footer .icons div a:hover{
    color: rgb(148, 148, 148);
}
footer .feedback{
    display: flex;
    width: 94%;
    padding: 20px 3%;
}
footer .feedback img{
    width: 180px;
}
footer .feedback ul{
    display: flex;
    list-style: none;
    margin: auto 30px;
}
footer .feedback ul li{
    margin: 0px 15px;
    position: relative;
}
footer .feedback ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}
footer .feedback ul li a::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 1.5px;
    left: 50%;
    background-color: #ee0000;
    bottom: -3px;
    transition: 200ms;
}
footer .feedback ul li a:hover::before{
    width: 100%;
    left: 0%;
}






@media screen and (max-width: 1270px) {
    footer .feedback ul li:nth-last-child(1){
        display: none;
    } 
}


@media (max-width: 1140px) {
    footer .feedback ul li:nth-last-child(2){
        display: none;
    } 
}


@media (max-width: 880px) {
    header .nav1 ul li:nth-child(4){
        display: none;
    }
    footer{
        display: none;
    }
}


@media (max-width: 770px){
    header .nav1 .logo{
        width: 150px;
        margin-left: 10px;
    }
    header .nav1 ul li{
        display: none;
    }
    header .nav1 .number{
        display: none;
    }
    header .nav1 .phones1{
        display: inherit;
        margin-left: 10px;
    }
    header .nav1 span {
        margin-right: 10px;
    }
    header .nav1 span .phones{
        display: inherit;
    }
}


@media (max-width: 675px){
    .data .timetable{
        flex-wrap: wrap;
    }
    .data .timetable div{
        width: 50%;
        /* text-align: center; */
    }
    .data .timetable div:nth-last-child(3){
        width: 40%;
        text-align: left;
    }
    .data .timetable div p{
        margin-right: 0px;
    }
    .data .timetable button{
        padding: 0px 30px;
        font-size: 13px;
        /* margin: 0px auto; */
    }
    .form input{
        font-size: 14px;
        padding: 15px 30px;
    }
}

@media (max-width: 520px){
    .data .dataOfPost{
        text-align: center;
        margin-left: 0px;
    }
    main .search input{ 
        width: 50%;
        padding: 10px 15px;
        margin-left: 20px;
        font-size: 16px;
    }
}